@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    /* reset Css */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --orange-color: #FF9900;
    --while-color: #fff;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}


.w-50 {
    width: 50% !important;
}

.btn-orange {
    background-color: var(--orange-color);
    color: #fff;
}

.color-orange {
    color: var(--orange-color);
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    height: 78px;
    align-items: center;
}

.header-nav-right {
    display: flex;
}

.flex {
    display: flex;
}

.h-100vh{
    height: 100vh;
}
ul.header-nav-menu {
    display: flex;
    list-style: none;
    font-size: 14px;
}

.header-nav-left {
    display: flex;
    align-items: center;
}

span.header-brand {
    font-size: 30px;
    font-weight: 700;
    color: #173A56;
    margin-left: 5px;
}

li.header-menu-item a {
    display: inline-block;
    padding: 12px 14px;
}

.header-nav-button {
    display: flex;
    align-items: center;
}

.header-nav-button a {
    display: inline-block;
    padding: 11px 25px;
    border: 1px solid;
    border-radius: 4px;
}

a.button-signup {
    margin-left: 5px;
    font-weight: 400;
}

a.button-signin {
    border-color: #BCD0E5;
    color: #000;
    font-weight: 400;
    margin-left: 25px;
}

a.btn__get-started.btn-orange {
    padding: 11px 22px;
    border-radius: 4px;
}

.artice-start.flex-center {
    justify-content: start;
}

i.color-orange.fa-solid.fa-play {
    font-size: 25px;
    margin: 0 15px 0 25px;
}

.watch-video {
    text-decoration: underline;
}

span.artice-title {
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
}

p.artice-detail {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.artice-content.w-50 {
    padding-right: 50px;
}

.header-content{
    margin-top: 50px;
}
.we-design{
    margin-bottom: 160px;
}

.we-design__item{
    width: 25%;
}

.we-design-icon {
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 14px;
    box-shadow: 0px 2px 3px 0px;
}


span.we-design__item-title {
    display: block;
    font-size: 22px;
    line-height: 33px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
}

span.we-design__item-content {
    color: #544837;
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
}

span.we-design__title {
    font-size: 36px;
    line-height: 54px;
    display: block;
    text-align: center;
    width: 50%;
    transform: translateX(50%);
    font-weight: 700;
    margin-bottom: 46px;
}

div#content {
    margin-top: 80px;
}

.we__btn-signup{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.we__btn-signup>a{
    display: inline-block;
    padding: 15px 32px;
    border-radius: 4px;
}

.mb-3 {
    margin-bottom: 15px;
}


.flex-between {
    display: flex;
    justify-content: space-between;
}

.bg {
    padding-bottom: 104px;
    background: url('../images/BgFeature1.png');
    object-fit: cover;
    background-position: center;
}

.post-item-detail>p:first-child{
    margin-bottom: 3px;
}

.post-item-detail>p{
    color: #544837;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 24px;
}
.post-item-detail>span.post-item-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}
.post-item-detail>span{
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    display: inline-block;
    margin-bottom: 12px;
}



.w-50.post-item-detail {
    padding-right: 60px;
    text-align: justify;
}

.post-item-thumb {
    display: flex;
}

.post-item-thumb>img {
    width: 80%;
}


.post-item.flex {
    margin-top: 140px;
}

